<div class="row">
    <div class="col-md-6 offset-3 alert alert-primary text-center">
        <h2>Account Created Successfully</h2>
        <p>You can now login into your account using valid Credentials.</p>
        <hr/>
        <p>Thank You!!</p>
    </div>
</div>