<div class="row">
    <div class="col-md-6 offset-3 alert alert-primary text-center">
        <h2>Order Completed Successfully</h2>
        <p>Please Check your Orders on your Profile </p>
        <hr/>
        <p>Thank You!!</p>
    </div>
</div>