@model string;
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div style="position: fixed; right: 75px; bottom: 75px;" class="text-white">
        <a asp-controller="@Model" asp-action="Create" class="font-weight-bold btn btn-success">
            <i class="bi bi-plus-circle"></i>Add New
        </a>
    </div>
}
